{% extends "layout.html" %}

    {% block head %}
    <title>Not-Found - Wolf Sellmer</title>
    {% endblock head %}

    {% block content %}
    <div id="wrapper">
        
        <h1>Erro -  Pagina não encontrada</h1>
        
        
    </div>
    <div id="links-footer" class = "links">
         <a href="https://github.com/wolfsellmer" target="_blank">GitHub</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/wolfsellmer/"target="_blank">Twitter</a>
    </div>


    {% endblock content %}
